*.cmd
*.log
*.lst
*.ihx
*.lk
*.map
*.noi

/CPLD/_xmsgs
/CPLD/iseconfig
/CPLD/*.xwbt
/CPLD/*.jed
/CPLD/*.prj
/CPLD/*.bld
/CPLD/*.cmd_log
/CPLD/*.gise
/CPLD/*.gyd
/CPLD/*.lfp
/CPLD/*.lso
/CPLD/*.mfd
/CPLD/*.nga
/CPLD/*.ngc
/CPLD/*.ngd
/CPLD/*.ngr
/CPLD/*.pad
/CPLD/*.pnx
/CPLD/*.rpt
/CPLD/*.stx
/CPLD/*.syr
/CPLD/*.tim
/CPLD/*.tspec
/CPLD/*.vm6
/CPLD/*.xml
/CPLD/*.xst
/CPLD/*.html
/CPLD/sdmapper_html/fit
/CPLD/sdmapper_html/images
/CPLD/sdmapper_html/tim
/CPLD/*.xrpt
/CPLD/*.csv
/CPLD/src/*.lfp
/CPLD/*.err
/CPLD/xlnx_auto_0_xdb
/CPLD/xst/work
/Updater/NEW/obj
/CPLD/src/tb_spi/transcript
/CPLD/src/tb_spi/vsim.wlf
/CPLD/src/tb_spi/work
/CPLD/src/tb_spi2/transcript
/CPLD/src/tb_spi2/vsim.wlf
/CPLD/src/tb_spi2/work
/SW/Updater/obj
/Driver/SDXC.ROM
/SW/Updater/FBL-UPD.zip
/SW/Updater/Makefile-ant
/SW/Updater/SDM-UPD.COM
/SW/Updater/SDM-UPD.zip
